<h3>Uue inimese sissestamine</h3>

<form id="add-form" method="post" action="../index.php">
    <input type="text" name="firstName" placeholder="Eesnimi">
    <input type="text" name="lastName" placeholder="Perenimi">
    <input type="text" name="phone" placeholder="Number">
    <input type="submit" name="submitButton" value="Submit">
</form>