<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title></title>
</head>
<nav>
    <a href="?command=show_list_page" id="list-page-link">Nimekiri</a> |
    <a href="?command=show_add_page" id="add-page-link">Lisa</a>
</nav>
<body>
<div class="template" tpl-include="{{ $template }}"></div>
</body>
<footer>
    <p>&copy;{{ date('Y') }}</p>
</footer>
</html>